@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application connecting to a SQLite database. This database contains information about various anime series that I have watched and my personal ratings for them.</p>
</div>
