body{
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    padding: 20px 0;
    background-color: dodgerblue;
    margin-bottom: 20px;
}

header .row{
    display: flex;
    align-items: center;
}

footer{
    padding: 10px 0;
    background-color: dodgerblue;
    margin-top: auto;
}

footer .row{
    display: flex;
    align-items: center;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
  height: 400px;

}

.col-md-4 {
  margin: 0 0 30px;
}

p{
    font-size: 18px;
}