body{
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    padding: 20px 0;
    background-color: dodgerblue;
}

header .row{
    display: flex;
    align-items: center;
}

footer{
    padding: 10px 0;
    background-color: dodgerblue;
    margin-top: 10px;
}

footer .row{
    display: flex;
    align-items: center;
}
div .row img {
  margin: 0 0 30px;
  width: 100%;
  height: 100%;

}

.col-md-4 {
  margin: 0 0 30px;
}

p{
    font-size: 18px;
}

.jumbotron{
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1568393691622-c7ba131d63b4?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    outline: 2px solid black;
    min-height: 500px;
    margin-bottom: 20px;
}
.jumbotron .container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}